<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 与Spring整合使用的配置文件 -->
<configuration>
    <!--&lt;!&ndash; LOG4J日志配置 &ndash;&gt;-->
    <!--<settings>-->
        <!--<setting name="logImpl" value="LOG4J" />-->
    <!--</settings>-->


</configuration>
